<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Note</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Include CSS for icons. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
   
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <a class="mx-2" href="/">Notes</a>
            </div>
            <div class="col-md-1 ml-auto">
                <a class="mx-2" href="/users/login">login</a>
            </div>
            <div class="col-md-1 ml-auto">
                <a class="mx-2" href="/users/Register">Register</a>
            </div>
            <div class="col-md-1 ml-auto">
                <a class="mx-2" href="/users/logout">logout</a>
            </div>
        </div>
    </div>