<% include ./partials/header %>

  <div class="container">
    <h1>Note Taking App</h1>
    <p>Select your note below</p>
    <a href="/new">Create</a>
    <ul>
    <% user.notes.forEach((note)=>{ %>
      <li><a href="/<%= note._id %>"><%=note.title%></a></li>
    <%})%>
    </ul>
  </div>
<% include ./partials/footer %>