<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Note Taking App</h1>
    <p>Select your note below</p>
    <a href="#">Create</a>
    <p><%= users %></p>
  </body>
</html>
