<% include ./partials/header %>

  <div class="container">
    <h1>Note Taking App</h1>
    <p>Select your note below</p>
    <a href="/notes/new">Create</a>
    <ul>
    <%if(user.notes.length > 0) {%>
      <% user.notes.forEach((note)=>{ %>
        <li>
          <a href="/notes/<%= note._id %>"><%=note.title%></a>
          <i class="fa fa-trash ml-2" aria-hidden="true"></i>
          <a href="/notes/<%= note._id %>/edit"><i class="fa fa-pencil ml-2" aria-hidden="true"></i></a>
        </li>
      <%})%>
    <% } %>
    </ul>
  </div>
<% include ./partials/footer %>