<% include ../partials/header %>

    <div class="container mt-5" style="height:500px;">
        <h1>Create a New Note</h1>
        <form action="/new" method="POST">
            <div class="form-group">
                <label for="title">Title:</label>
                <input class="form-control" type="text" name="title" placeholder="Note Title">
            </div>
            <div class="form-group">
                <label for="text">Note:</label>
                <textarea name="text" style="height: 500px;"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    

    <style>
        .fr-wrapper{min-height:400px;}
    </style>
     <!-- Include CSS for icons. -->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
 
     <!-- Include Editor style. -->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
     <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <!-- Include jQuery lib. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>

    <!-- Initialize the editor. -->
    <script>
    $(function() {
        $('textarea').froalaEditor()
    });
    </script> 


</body>
</html>
